.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.header-logo{
    height:48px;
    object-fit: contain;
    
}

.header-icons{
    margin: 0 4vw;
    
}
.header-icon-button{
    width: 80px;
    
}